<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <parameter name="browser" value="chrome"/>
    <test name="Regression Suite" preserve-order="false" >
        <classes>
            <class
                    name="tests.CreateTracking">
            </class>
        </classes>
    </test>
</suite>
